@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.mainTextColor {
  color: #FD0000
}

.mainBgColor {
  background-color: #FD0000;
}

.secondaryTextcolor {
  color: #FE3030;
}

.secondaryBgColor {
  background-color: #FE3030;
}


.tertiaryTextColor {
  color: #FFE0E0
}

.tertiaryBgColor {
  background-color: #FFE0E0;
}

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--font-bitter), serif;
}